.pageButton {
  background-color: black;
  font-size: 1.2em;
  padding: 7px;

  margin-bottom: 2px;
}

.pageButton a,
.pageButton a:visited {
  color: white;
  text-decoration: none;
}

.pageButton a:hover {
  background-color: white;
  color: black;
}

.pageButton a.active {
  text-decoration: underline;
}