.contactButton {
    font-size: larger;
}

.contactButton hr {
    border-width: 1px;
    background-color: black;
    border-color: black;
    border-style: solid;

    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 3px;
    margin-top: 3px;
}

.contactLink {

}


.contactLink a,
.contactLink a:visited {
    text-decoration: none;
    color: black;
}

.contactLink.open {
    background-color: black;
}

.contactLink.open a {
    color: white;
}

.contactLink a:hover {
    background-color: black;
    color: white;
}
