.header {
    grid-area: header-bar;
    background-color: black;
    /* text-align: right; */
}

.bar {
    height: inherit;
}

.bar img {
    width: 100%;
    height: 80px;

    object-fit: cover;
    object-position: 50% 66%;
}
  