.message {
    padding: 7px;

    display: grid;

    grid-template-columns: 50px 1fr 50px;
    grid-template-areas: 'la text ra';

    margin-bottom: 10px;
    margin-right: 5px;
}

.message:hover {
    background-color: #ececec;
    border-radius: 10px;
}

.message .text {
    grid-area: text;

    overflowWrap: "break-word";

    display: grid;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;
}

.message .leftAvatar {
    grid-area: la;
}

.message .rightAvatar {
    grid-area: ra;
}

.message img {
    height: 50px;
    width: 50px;

    border-radius: 50%;
    object-fit: cover;

    display: grid;
    align-items: center;
}

.message.sent {
    text-align: right;
}