.messagesPage {

}

.messagesPage h2 {
    text-align: center;
}

.messageBrowser {
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.contacts {

}

.contacts hr {
    border-width: 1px;
    background-color: black;
    border-color: black;
    border-style: solid;

    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 3px;
}
.contacts .openContact {
    background-color: black;
}

.contacts .openContact a {
    color: white;
}

.dialogs {
    padding-left: 20px;
    padding-right: 5px;
}

.dialogs hr {
    border-width: 1px;
    background-color: black;
    border-color: black;
    border-style: solid;

    width: 640px;

    margin-left: 8px;
    margin-right: 7px;
}

.messagesView {
    overflow-y: scroll;
    height: 380px;
    width: 684px;
}

.messagesView::-webkit-scrollbar {
    width: 13px;
}

.messagesView::-webkit-scrollbar-track {
    background: black;
    border-radius: 7px;
}

.messagesView::-webkit-scrollbar-track:disabled {
    background: white;
    border-radius: 7px;
}

.messagesView::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 7px;
    border: 1px solid black;
}

.inputArea {
    text-align: right;
    width: 663px;
}

.inputArea textarea:focus {
    border-style: solid;
    outline: none;
}

.dialogs textarea {
    border-width: 2px;
    border-color: black;
    border-style: dashed;

    width: 98%;
    resize: none;

    padding: 5px;

    margin-top: 5px;
    margin-right: 20px;
}

.sendButton {
    border-style: solid;
    border-color: black;

    background-color: black;
    color: white;

    margin-top: 10px;

    font-size: 14px;
    padding: 4px;

    border-radius: 3px;
}

.sendButton:active {
    background-color: white;
    color: black;
}