.app-main {
    margin: 0 auto;
    display: grid;
    width: 900px;
    height: 650px;

    grid-template-areas: "header-bar header-logo" "main-content sidebar" "footer footer";

    grid-template-rows: 80px 1fr 70px;
    grid-template-columns: 1fr 120px;
}

.main-content {
    grid-area: main-content;
}