body {
  margin: 0;

  font-family: monospace;
  font-size: large;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

body::-webkit-scrollbar {
  width: 17px;
}

body::-webkit-scrollbar-track {
  background: black;
  border-radius: 7px;
  margin: 3px;
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 7px;
  border: 1px solid black;
}

body::-webkit-scrollbar-track:disabled {
  background: white;
  border-radius: 7px;
}